{# templates/base.html #}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Mi sitio{% endblock %}</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-..."
    crossorigin="anonymous"
  >
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" >CRUDs Sistema de Biblioteca</a>
    <a  href="{% url 'catalogo-list' %}">Catalogo Libros</a>
    <a  href="{% url 'prestamos-list' %}">Usuarios Préstamos</a>
    <a  href="{% url 'sucursales-list' %}">Actividad Sucursales</a>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" >Reportes y Exportar a .csv</a>
    <a  href="{% url 'catalogo-report' %}">Reporte Catalogo</a>
    <a  href="{% url 'prestamos-report' %}">Reporte Préstamos</a>
    <a  href="{% url 'sucursales-report' %}">Reporte Sucursales</a>
  </nav>

  <main role="main" class="container">
    {% block content %}
    <!-- Aquí irá el contenido de cada vista -->
    {% endblock %}
  </main>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>